<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.mapper.PositionMapper">
	<resultMap type="com.bs.entity.Position" id="position">
		<id column="id" property="id" />
		<result column="userId" property="userId" />
		<result column="publish_position" property="position" />
		<result column="job_nature" property="jobNature" />
		<result column="job_age" property="jobAge" />
		<result column="degree" property="degree" />
		<result column="salary_low" property="salaryLow" />
		<result column="salary_high" property="salaryHigh" />
		<result column="skills_required" property="skillsRequired" />
		<result column="job_description" property="jobDescription" />
		<result column="people_number" property="peopleNumber" />
		<result column="publish" property="publish" />
		<result column="publish_time" property="publishTime" />
	</resultMap>

	<insert id="addPosition" parameterType="com.bs.entity.Position">
		insert into
		publish_position(userId,publish_position,job_nature,job_age,degree,salary_low,salary_high,skills_required,job_description,people_number,publish,publish_time)
		value
		(#{userId},#{position},#{jobNature},#{jobAge},#{degree},#{salaryLow},#{salaryHigh},#{skillsRequired},#{jobDescription},#{peopleNumber},2,NOW())
	</insert>

	<select id="findIntroduce"
		parameterType="com.bs.entity.Position" resultMap="position">
		select
		id,userId,publish_position,job_nature,job_age,degree,salary_low,salary_high,skills_required,job_description,people_number,publish,publish_time
		from publish_position
		<where>
			<if test="id!=null and id!=''">id=#{id}</if>
			<if test="userId!=null and userId!=''">and userId=#{userId}</if>
			<if test="position!=null and position!=''">and publish_position like '%${position}%'</if>
			<if test="jobNature!=null and jobNature!=''">and job_nature=#{jobNature}</if>
			<if test="jobAge!=null and jobAge!=''">and job_age=#{jobAge}</if>
			<if test="degree!=null and degree!=''">and degree=#{degree}</if>
			<if test="salaryLow!=null and salaryLow!=''">and salary_high <![CDATA[ >= ]]> #{salaryLow}</if>
			<if test="peopleNumber!=null and peopleNumber!=''">and people_number=#{peopleNumber}</if>
			<if test="publish!=null">and publish=#{publish}</if>
		</where>
	</select>
	<update id="updatePosition" parameterType="com.bs.entity.Resume">
		update publish_position
		<trim prefix="set" suffixOverrides=",">
			<if test="position!=null and position!=''">publish_position=#{position},</if>
			<if test="jobNature!=null and jobNature!=''">job_nature=#{jobNature},</if>
			<if test="jobAge!=null and jobAge!=''">job_age=#{jobAge},</if>
			<if test="degree!=null and degree!=''">degree=#{degree},</if>
			<if test="salaryLow!=null and salaryLow!=''">salary_low=#{salaryLow},</if>
			<if test="salaryHigh!=null and salaryHigh!=''">salary_high=#{salaryHigh},</if>
			<if test="skillsRequired!=null and skillsRequired!=''">skills_required=#{skillsRequired},</if>
			<if test="jobDescription!=null and jobDescription!=''">job_description=#{jobDescription},</if>
			<if test="peopleNumber!=null and peopleNumber!=''">people_number=#{peopleNumber},</if>
			<if test="publish!=null and publish!=''">publish=#{publish},</if>
			<if test="publishTime!=null and publishTime!=''">publish_time=#{publishTime},</if>
		</trim>
		where id=#{id}
	</update>
	
	<delete id="deletePosition" parameterType="int">
		delete from publish_position where id=#{id}
	</delete>
	
	<select id="findPositionInfo" parameterType="com.bs.entity.Position" resultType="java.util.HashMap">
		select a.id,a.userId,a.publish_position,a.job_nature,a.job_age,a.degree,a.salary_low,a.salary_high,a.skills_required,a.job_description,
		a.people_number,a.publish,a.publish_time,b.id,b.company_name,b.name,b.position,b.email,b.telphone,b.address,b.people,b.icon
		from publish_position as a inner join introduction as b on a.userId=b.userId
		where a.id=#{id}
	</select>
</mapper>